//-----------------COLORS USED ---------------------------
$main-background: #f2f3f8;
$white: #ffffff;
$lite-black: #14192d;
$fields-border-color: rgba(0, 0, 0, 0.2);
$opacity-text-color: rgba(20, 25, 45, 0.7);
$nav-background: #202538;
$nav-toggle-background: rgba(112, 112, 112, 0.2);

//-----------------Box Shadow---------------------
$box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.05);
$navbar-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.07);

//----------------Fonts------------------------
$login-heading-font: 40px;
$f-12: 12px;
$f-16: 16px;
$f-20: 20px;
$f-18: 18px;
